.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
}

.mainImageContainer {
  position: relative;
<<<<<<< HEAD
  margin: 2rem;
=======
  margin: 2rem 0;
>>>>>>> d1601906f4cab6b9d6c8a8431940ecfb9f5bcb21
  width: 100%;
  aspect-ratio: 12/7;
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.inputForm {
  width: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> d1601906f4cab6b9d6c8a8431940ecfb9f5bcb21
